














/* dont make changes to this file */

















body{
  margin:0;
  background-color: white;

}

.cover-container, .back-container{
  width: 1200px;
}
.middle-spread-container{
  width: 1600px;
}

a.button {
    /* -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; */
    background-color: white;
    text-decoration: none;
    color: initial;
    margin: 0px 10px;
    padding:1px 10px;
    font-family: sans-serif;
    font-size:0.8em;
}
#nav-wrapper{
  position: fixed;
      z-index: 1;
      width: 100%;
      top:0;
      left:0;
}
nav{
  margin:0;


}
nav#page-nav {

      background: #000000;
      line-height: 2;
      text-align: center;
      color: #376197;
      font-size: 30px;
      font-family: sans-serif;
      font-weight: bold;
      text-shadow: 0 1px 0 #376197;
      box-shadow: 0 0 15px #00214B

}
nav#page-nav {

  position: fixed;
  bottom: 0;
  width: 100%;

}



a.open-page{
  color: #FFFFFF;
  font-weight: bold;
  background-color: #376197;
}

#download-button{
  position: absolute;
  top:3px;
  right:0px;
  background-color: #2bd5ff;
  color: #cf0000;
  font-weight: bold;
  cursor:pointer;
}
#header-p-tag{
  position: absolute;
  top:5px;
  left:2px;
  margin:0;
  color:white;
  font-family: sans-serif;
  font-size: 0.8em;
  color: #ea0505;
}
